<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Favorite Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="">
    <nav class="navbar navbar-light bg-light justify-content-between border-bottom">
        <h2><a class="text-dark text-decoration-none" href="/books">Welcome, {{ user.firstName }}</a></h2>
        <div class="d-inline">
            <a href="/logout">Log out</a>
        </div>
    </nav>

    <div class="row my-5 justify-content-center">
        <div class="col-5 container">
            <form class="text-left" action="{{book.id}}/update" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="title" value="{{book.title}}">
                </div>
                <div class="container">
                    <p>Added by: {{book.uploader.firstName}} {{book.uploader.lastName}}</p>
                    <p>Added on: {{book.created_at}}</p>
                    <p>Last updated on: {{book.updated_at}}</p>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="8" cols="80">{{book.description}}</textarea>
                    <div class="text-center my-4">
                        <input class="btn btn-primary" type="submit" value="Update">
                        <a class="btn btn-danger" href="{{book.id}}/delete">Delete</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-5 container">
            <h2>Users Who Like This Book:</h2>
            <ul>
                {% for user in book.usersWhoLike.all %}
                <li>
                    {{user.firstName}} {{user.lastName}}
                    {% if user.id == request.session.userid %}
                    <a class="mx-2" href="/unfavorite">Un-favorite</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
