<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Favorite Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="">
    <nav class="navbar navbar-light bg-light justify-content-between border-bottom">
        <h2 class=""><a class="text-dark text-decoration-none" href="/books">Welcome, {{ user.firstName }}</a></h2>
        <div class="d-inline">
            <a href="/logout">Log out</a>
        </div>
    </nav>

    <div class="row container my-4 mx-auto">
        <div class="container col">
                <h2>{{book.title}}</h2>
                <p>Added by: {{book.uploader.firstName}} {{book.uploader.lastName}}</p>
                <p>Added on: {{book.created_at}}</p>
                <p>Last updated on: {{book.updated_at}}</p>
                <p>Description: {{book.description}}</p>
        </div>
        <div class="col">
            <h2>Users Who Like This Book:</h2>
            <ul>
                {% for user in book.usersWhoLike.all %}
                <li>
                    {{user.firstName}} {{user.lastName}}
                    {% if user.id == request.session.userid %}
                    <a class="mx-2" href="{{book.id}}/unfavorite">Un-favorite</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% if not user in book.usersWhoLike.all %}
                <a href="{{book.id}}/addFavorite">Add to Favorites</a>
            {% endif %}
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
